<html >
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" (click)="searchPage()">
        <img src="assets/Logo/Logomak.png" width="150" height="30" class="logo">
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">

      <li>
        <a *ngIf="(this.auth.userCheckerLogIn)"
           (click)="logIn()">Sign In</a>
      </li>

      <li *ngIf="!(this.auth.userCheckerLogIn)">
        <a (click)="logout()">Sign Out</a>
      </li>

      <li class="dropdown" dropdown *ngIf="!(this.auth.userCheckerLogIn)"> <!-- {1} -->
        <a dropdownToggle role="button"> <!-- {2} -->
          Email <span class="caret"></span></a>
        <ul *dropdownMenu class="dropdown-menu"> <!-- {3} -->
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Separated link</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

</html>


